<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.applace">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Applace">
        <activity android:name=".DetalheImovel"></activity>
        <activity android:name=".ZformImovel" />
        <activity android:name=".ZformUsuario" />
        <activity android:name=".Autenticacao" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".Splash"
            android:theme="@style/Theme.AppCompat.NoActionBar"> <!-- 4 retirar a action bar e colocar o app pra começar aqui e nn na main -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>